# SisFall

Data from: http://sistemic.udea.edu.co/en/investigacion/proyectos/english-falls/

<h1><center> Activities of Daily Living (ADL) </center></h1>

| Code | Activity | Trials | Duration |
| -- | -- | -- | -- |
| D01 | Walking slowly | 1 | 100s |
| D02  | Walking quickly                                                                          | 1      | 100s     |
| D03  | Jogging slowly                                                                           | 1      | 100s     |
| D04  | Jogging quickly                                                                          | 1      | 100s     |
| D05  | Walking upstairs and downstairs slowly                                                   | 5      | 25s      |
| D06  | Walking upstairs and downstairs quickly                                                  | 5      | 25s      |
| D07  | Slowly sit in a half height chair, wait a moment, and up slowly                          | 5      | 12s      |
| D08  | Quickly sit in a half height chair, wait a moment, and up quickly                        | 5      | 12s      |
| D09  | Slowly sit in a low height chair, wait a moment, and up slowly                           | 5      | 12s      |
| D10  | Quickly sit in a low height chair, wait a moment, and up quickly                         | 5      | 12s      |
| D11  | Sitting a moment, trying to get up, and collapse into a chair                            | 5      | 12s      |
| D12  | Sitting a moment, lying slowly, wait a moment, and sit again                             | 5      | 12s      |
| D13  | Sitting a moment, lying quickly, wait a moment, and sit again                            | 5      | 12s      |
| D14  | Being on one’s back change to lateral position, wait a moment, and change to one’s back  | 5      | 12s      |
| D15  | Standing, slowly bending at knees, and getting up                                        | 5      | 12s      |
| D16  | Standing, slowly bending without bending knees, and getting up                           | 5      | 12s      |
| D17  | Standing, get into a car, remain seated and get out of the car                           | 5      | 25s      |
| D18  | Stumble while walking                                                                    | 5      | 12s      |
| D19  | Gently jump without falling (trying to reach a high object)                              | 5      | 12s      |

<h1><center> Falls </center></h1>

| Code | Activity                                                                                 | Trials | Duration |
| -- | -- | -- | -- |
| F01  | Fall forward while walking caused by a slip                                              | 5      | 15s      |
| F02  | Fall backward while walking caused by a slip                                             | 5      | 15s      |
| F03  | Lateral fall while walking caused by a slip                                              | 5      | 15s      |
| F04  | Fall forward while walking caused by a trip                                              | 5      | 15s      |
| F05  | Fall forward while jogging caused by a trip                                              | 5      | 15s      |
| F06  | Vertical fall while walking caused by fainting                                           | 5      | 15s      |
| F07  | Fall while walking, with use of hands in a table to dampen fall, caused by fainting      | 5      | 15s      |
| F08  | Fall forward when trying to get up                                                       | 5      | 15s      |
| F09  | Lateral fall when trying to get up                                                       | 5      | 15s      |
| F10  | Fall forward when trying to sit down                                                     | 5      | 15s      |
| F11  | Fall backward when trying to sit down                                                    | 5      | 15s      |
| F12  | Lateral fall when trying to sit down                                                     | 5      | 15s      |
| F13  | Fall forward while sitting, caused by fainting or falling asleep                         | 5      | 15s      |
| F14  | Fall backward while sitting, caused by fainting or falling asleep                        | 5      | 15s      |
| F15  | Lateral fall while sitting, caused by fainting or falling asleep                         | 5      | 15s      |

<h1><center> Subjects </center></h1>

- The SUBJECT_ID depends of the age of the subjects. 
    - SA: Adults subjects between 19 and 30 years old
    - SE: Elderly people between 60 and 75 years old

- Elderly people only simulated ADLs except SE06, who is an expert in Judo that also simulated falls.
- Elderly people did not perform activities D06, D13, D18, and D19 due to recommendations of a physician specialized in sports. Additionally, some elderly people did not perform some activities due to personal impairments (or medical recommendation).

    
| Subject | Age | Height | Weight | Gender |
| -- | -- | -- | -- | -- |
| SA01    | 26  | 165    | 53     | F      |
| SA02    | 23  | 176    | 58.5   | M      |
| SA03    | 19  | 156    | 48     | F      |
| SA04    | 23  | 170    | 72     | M      |
| SA05    | 22  | 172    | 69.5   | M      |
| SA06    | 21  | 169    | 58     | M      |
| SA07    | 21  | 156    | 63     | F      |
| SA08    | 21  | 149    | 41.5   | F      |
| SA09    | 24  | 165    | 64     | M      |
| SA10    | 21  | 177    | 67     | M      |
| SA11    | 19  | 170    | 80.5   | M      |
| SA12    | 25  | 153    | 47     | F      |
| SA13    | 22  | 157    | 55     | F      |
| SA14    | 27  | 160    | 46     | F      |
| SA15    | 25  | 160    | 52     | F      |
| SA16    | 20  | 169    | 61     | F      |
| SA17    | 23  | 182    | 75     | M      |
| SA18    | 23  | 181    | 73     | M      |
| SA19    | 30  | 170    | 76     | M      |
| SA20    | 30  | 150    | 42     | F      |
| SA21    | 30  | 183    | 68     | M      |
| SA22    | 19  | 158    | 50.5   | F      |
| SA23    | 24  | 156    | 48     | F      |
| SE01    | 71  | 171    | 102    | M      |
| SE02    | 75  | 150    | 57     | F      |
| SE03    | 62  | 150    | 51     | F      |
| SE04    | 63  | 160    | 59     | F      |
| SE05    | 63  | 165    | 72     | M      |
| SE06    | 60  | 163    | 79     | M      |
| SE07    | 65  | 168    | 76     | M      |
| SE08    | 68  | 163    | 72     | F      |
| SE09    | 66  | 167    | 65     | M      |
| SE10    | 64  | 156    | 66     | F      |
| SE11    | 66  | 169    | 63     | F      |
| SE12    | 69  | 164    | 56.5   | M      |
| SE13    | 65  | 171    | 72.5   | M      |
| SE14    | 67  | 163    | 58     | M      |
| SE15    | 64  | 150    | 50     | F      |

<h1><center> Misc Info </center></h1>

File name format: \<ADL OR FALL_CODE>_\<SUBJECT_ID>_\<TRIAL_NO>.txt

Sensors:

Data were acquired with three sensors (2 accelerometers and 1 gyroscope) at a frequency sample of 200 Hz.

Each file contains nine columns and a different number of rows depending on the test length.

1st column is the acceleration data in the X axis measured by the sensor ADXL345.
2nd column is the acceleration data in the Y axis measured by the sensor ADXL345.
3rd column is the acceleration data in the Z axis measured by the sensor ADXL345.

4th column is the rotation data in the X axis measured by the sensor ITG3200.
5th column is the rotation data in the Y axis measured by the sensor ITG3200.
6th column is the rotation data in the Z axis measured by the sensor ITG3200.

7th column is the acceleration data in the X axis measured by the sensor MMA8451Q.
8th column is the acceleration data in the Y axis measured by the sensor MMA8451Q.
9th column is the acceleration data in the Z axis measured by the sensor MMA8451Q.

Data are in bits with the following characteristics:

ADXL345:
Resolution: 13 bits
Range: +-16g

ITG3200
Resolution: 16 bits
Range: +-2000°/s

MMA8451Q:
Resolution: 14 bits
Range: +-8g


In order to convert the acceleration data (AD) given in bits into gravity, use this equation: 

Acceleration $g = [(2*Range)/(2^{Resolution})]*AD$

In order to convert the rotation data (RD) given in bits into angular velocity, use this equation:

Angular velocity $°/s = [(2*Range)/(2^{Resolution})]*RD$

Alternatives:
- fresh algorithm (requires kdb+)

In [1]:
# Import libraries
import pandas as pd
import math
import numpy as np

from pathlib import Path, PurePath, PureWindowsPath
import os
import glob

from functools import reduce

In [2]:
SUBJECTS = {'subject_id': ['SA01', 'SA02', 'SA03', 'SA04', 'SA05', 'SA06', 'SA07', 'SA08', 'SA09',
                   'SA10', 'SA11', 'SA12', 'SA13', 'SA14', 'SA15', 'SA16', 'SA17', 'SA18', 'SA19',
                    'SA20', 'SA21', 'SA22', 'SA23',
                    'SE01', 'SE02', 'SE03', 'SE04', 'SE05', 'SE06', 'SE07', 'SE08', 'SE09',
                   'SE10', 'SE11', 'SE12', 'SE13', 'SE14', 'SE15'
                   ],
        'Age': [26,23,19,23,22,21,21,21,24,21,19,25,22,27,25,20,23,23,30,30,30,19,24,71,75,62,63,63,60,65,68,66,64,66,69,65,67,64],
       'Height':[165, 176, 156, 170, 172, 169, 156, 149, 165, 177, 170, 153, 157, 160, 160, 169, 182, 181, 170, 150, 183, 158, 156, 171, 150, 150, 160, 165, 163, 168, 163, 167, 156, 169, 164, 171, 163, 150],
       'Weight':[53, 58.5, 48, 72, 69.5, 58, 63, 41.5, 64, 67, 80.5, 47, 55, 46, 52, 61, 75, 73, 76, 42, 68,50.5, 48, 102, 57, 51, 59, 72, 79, 76, 72, 65, 66, 63, 56.5, 72.5, 58, 50],
       'Gender':["F","M","F","M","M","M","F","F","M","M","M","F","F","F","F","F","M","M","M","F","M","F","F","M","F","F","F","M","M","M","F","M","F","F","M","M","M","F"]
       }  

# Create DataFrame  
SUBJECTS = pd.DataFrame(SUBJECTS)
SUBJECTS.head()

  subject_id  Age  Height  Weight Gender
0       SA01   26     165    53.0      F
1       SA02   23     176    58.5      M
2       SA03   19     156    48.0      F
3       SA04   23     170    72.0      M
4       SA05   22     172    69.5      M

# Data Processing + Feature Engineering

In [3]:
# Process raw data. SisFall has 2 accelerometers, find their average
# Also convert accel into in terms of g, and rotation into angular velocity degrees/seconds
def xyz_accel_rota(original_df):
    df = original_df.copy()
    df[8] = (df[8].str.replace(';', '')).astype(float)
    accel_cols = [0,1,2,6,7,8]
    for i in accel_cols:
        if i < 3: # ADXL345 has resolution 13bits, range +/-16g
            df[i] = ((2*16)/(2**13))*df[i] # Convert to acceleration, in g
        elif i > 5: # MMA8451Q has resolution 14bits, range +/-8g
            df[i] = ((2*8)/(2**14))*df[i]
    rota_cols = [3,4,5]
    for j in rota_cols: # ITG3200 has resolution 16bits, range +- 2000 deg/s
        df[j] = ((2*2000)/(2**16))*df[j]
    
    df['x_accel_g'] = (df[0]+df[6])/2
    df['y_accel_g'] = (df[1]+df[7])/2
    df['z_accel_g'] = (df[2]+df[8])/2
    
    df['net_acceleration'] = np.sqrt(df['x_accel_g']**2 + df['y_accel_g']**2 + df['z_accel_g']**2)
    
    df.rename({3:'x_rota',4:'y_rota',5:'z_rota'},axis=1,inplace=True)
    df.drop([0,1,2,6,7,8],axis=1,inplace=True) # Just use the averaged accel
    return(df)

# Feature engineering
# Each SisFall data .txt file has a few thousand rows. This compresses each file into a single row, for ML
# (min/max/mean/var/skew/kurtosis) * ( (x/y/z) * (accel/rota) + net_accel) = 42 columns
def create_features(df):
    Min = df.min(axis=0).reset_index().rename({0:'min'},axis=1)
    Max = df.max(axis=0).reset_index().rename({0:'max'},axis=1)
    Mean = df.mean(axis=0).reset_index().rename({0:'mean'},axis=1)
    Var = df.var(axis=0).reset_index().rename({0:'variance'},axis=1)
    Skew = df.skew(axis=0).reset_index().rename({0:'skewness'},axis=1)
    Kurtosis = df.kurtosis(axis=0).reset_index().rename({0:'kurtosis'},axis=1)
    
    df_features = reduce(lambda left,right: pd.merge(left,right,on='index',)
                         ,[Min,Max,Mean,Var,Skew,Kurtosis])
    
    df_features.set_index('index',inplace=True)
    df_features = df_features.unstack().to_frame().sort_index(level=1).transpose()
    df_features.columns = df_features.columns.map('_'.join)

    return(df_features)

# For reading all files in the SisFall dataset
def read_files(readDir = Path("D:\\Project Morphine\\SisFall_dataset")):
    df_list = []
    for folder_name in os.listdir(readDir):
#         print(folder_name)
        if folder_name == 'Readme.txt': # skip this file
            continue
        for file in os.listdir(readDir/folder_name):
            if file.endswith('.txt'): # have some random files which need to be skipped
#                 df_list.append(pd.read_csv(readDir/folder_name/file,header=None)) # Read file itself
#         df = pd.concat(df_list,axis=0,ignore_index=True)
                df_list.append(readDir/folder_name/file) # Just file paths/names
    return(df_list)

In [4]:
all_file_names = read_files()

# Initialise overall dataframe with first datafile
initial_df = pd.read_csv(all_file_names[0],header=None)
initial_df = xyz_accel_rota(initial_df)
overall_df = create_features(initial_df)

# Get filename, add it as a new column
details = str(all_file_names[0]).rsplit('\\',1)[1]
details = details.replace('.txt','')

overall_df['details'] = details
del initial_df

# Iterate for all remaining .txt data file in SisFall dataset
for i in all_file_names[1:]:
    # Initialise overall dataframe
    df = pd.read_csv(i,header=None)
    df = xyz_accel_rota(df)
    df = create_features(df)

    # Get filename, add it as a new column
    details = str(i).rsplit('\\',1)[1]
    details = details.replace('.txt','')
    df['details'] = details

    overall_df = pd.concat([overall_df,df],axis=0)
    
# Find details based on filename
overall_df[['activity_type','subject_id','trial_number']] = overall_df['details'].str.split('_',expand=True)

# True if activity is a fall, False if it's an ADL
overall_df['fall_bool'] = overall_df['activity_type'].str.contains('F')

# elderly: between 60,75 years old. Not elderly: between 19,30 years old.
overall_df['elderly_bool'] = overall_df['subject_id'].str.contains('SE')

overall_df = overall_df.merge(SUBJECTS,how='left',on='subject_id')

overall_df['male_bool'] = np.where(overall_df['Gender'] == 'M',True,False)

overall_df.drop(['details','trial_number','Gender'],axis=1,inplace=True)

overall_df.head()

,kurtosis_net_acceleration,max_net_acceleration,mean_net_acceleration,min_net_acceleration,skewness_net_acceleration,variance_net_acceleration,kurtosis_x_accel_g,max_x_accel_g,mean_x_accel_g,min_x_accel_g,...,skewness_z_rota,variance_z_rota,activity_type,subject_id,fall_bool,elderly_bool,Age,Height,Weight,male_bool
0,0.751145,1.988066,1.035022,0.573253,1.060546,0.044428,0.638710,0.548828,0.034781,-0.431641,...,-0.210259,667.002329,D01,SA01,False,False,26,165,53.0,False
1,1.330392,2.726306,1.069612,0.427002,1.098273,0.146066,-0.331147,0.865723,0.037700,-0.892578,...,-0.476083,1693.849892,D02,SA01,False,False,26,165,53.0,False
2,-1.270614,3.631156,1.211288,0.020916,0.227245,0.612209,0.936694,2.032715,0.043191,-1.951660,...,-0.029034,3495.929472,D03,SA01,False,False,26,165,53.0,False
3,-0.372966,4.791443,1.408362,0.028643,0.778544,0.885080,1.038636,2.694824,0.022865,-3.399414,...,-0.003143,5991.702127,D04,SA01,False,False,26,165,53.0,False
4,2.988875,1.983869,1.017596,0.619242,1.373114,0.029270,2.087312,0.389160,-0.015901,-0.684570,...,-0.144928,224.362448,D05,SA01,False,False,26,165,53.0,False

In [5]:
overall_df.shape

(4505, 50)

In [6]:
overall_df.to_csv('SisFall_Features.csv',index=None)